<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Події в категорії</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2 class="text-center my-4">Події</h2>
  <div class="row event-list">
    <% events.forEach(event => { %>
      <div class="col-md-4 mb-4">
        <div class="card event-item">
          <img src="<%= event.image_url %>" alt="<%= event.title %>" class="card-img-top" style="max-height: 150px; object-fit: cover;">
          <div class="card-body">
            <h5 class="card-title"><%= event.name %></h5>
            <p class="card-text"><%= event.description %></p>
            <p class="card-text"><small class="text-muted"><%= new Date(event.date).toLocaleDateString() %></small></p>
            <a class="btn btn-primary" href="/events/<%= event._id %>">Деталі події</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
